body {
  background-color: #140C1F;
  font-size: 62.5%;
}

body * {
  /* border: 1px solid red; */
}

.header-container {
  height: 70vh;
  background-image: url(/images/pic.svg);
}

.container-navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 50%;
  padding-top: 3vh;

}

.item {
  display: flex;
  justify-content: center;
  min-width: max-content;
}

.logo {
  grid-area: logo;
}

.navbar {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 100%);
  backdrop-filter: blur(20.8333px);
  grid-area: navbar;
  padding: 3vh;
  gap: 8vh;
  flex-wrap: wrap;
  position: fixed;
}

.info {
  grid-area: info;
}

h1 {
  color: white;
}

.btn {
  color: white;
  border: transparent;
  background: transparent;
}

.sectionBtn {
  padding-right: 5vh;
}

.btnwallet {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 16px;
  gap: 10px;
  color: white;
  width: 160px;
  height: 43px;
  border: transparent solid 3px;
  background: #AD1AAF;
  text-align: center;
  border-radius: 0%;

}

.pBtnWallet {
  padding-top: 15%;
  font-size: 1.7vh;
  font-family: "Oxanium";
}

.textForm {
  padding-top: 20vh;
  font-family: "Oxanium";
  font-style: normal;
  font-weight: 500;
  font-size: 100px;
  line-height: 125px;
}

.paragraph {
  padding-top: 05vh;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-size: 25px;
  line-height: 30px;
}

.vector {
  position: absolute;
  width: 480px;
  height: 467px;
  left: 442px;
  top: -195px;

  background: #AD1AAF;
  opacity: 0.75;
  filter: blur(229.167px);
}